@import "tailwindcss";

:root {
    --black: #0a0a0a;
    --primary: #B384F9;
    --secondary: #764ba2;
    --black-secondary: #1C1C1C;
    --black-light: #292929;
}

@theme inline {
    --color-black: var(--black);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-black-secondary: var(--black-secondary);
    --color-black-light: var(--black-light)
}

body {
    background: #0D1117;
    color: white;
}

.gradienImage {
    mask-image: linear-gradient(var(--black) 90%,
            transparent);
}

/* Movimiento hacia arriba */
@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-120vh) scale(1.6);
        opacity: 0;
    }
}

/* Efecto de parpadeo */
@keyframes blink {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }
}

.cardService {
    clip-path: polygon(0 0,
            85% 0,
            100% 15%,
            100% 100%,
            0 100%);
}

@keyframes flicker {

    0%,
    100% {
        opacity: 0.45;
    }

    45% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.15;
    }

    55% {
        opacity: 0.5;
    }
}

.efectoImagen {
    mask-image: linear-gradient(black 90%,
            transparent);
}
