@import "tailwindcss";

:root {
    --black    : #0a0a0a;
    --primary  : #667eea;
    --secondary: #764ba2;
}

@theme inline {
    --color-black    : var(--black);
    --color-primary  : var(--primary);
    --color-secondary: var(--secondary);
}

body {
    background: var(--black);
    color     : white;
}

.gradienImage {
    mask-image: linear-gradient(var(--black) 90%,
            transparent);
}

/* Partículas */
.particle {
    position     : absolute;
    width        : 8px;
    height       : 8px;
    background   : var(--primary);
    border-radius: 50%;
    opacity      : 0.8;
    animation    : floatUp 8s linear infinite, blink 2s ease-in-out infinite;
}

/* Posiciones iniciales de cada partícula */
.particle:nth-child(1) {
    left              : 20%;
    bottom            : -10px;
    animation-duration: 9s;
}

.particle:nth-child(2) {
    left              : 40%;
    bottom            : -10px;
    animation-duration: 7s;
}

.particle:nth-child(3) {
    left              : 60%;
    bottom            : -10px;
    animation-duration: 10s;
}

.particle:nth-child(4) {
    left              : 75%;
    bottom            : -10px;
    animation-duration: 8s;
}

.particle:nth-child(5) {
    left              : 30%;
    bottom            : -10px;
    animation-duration: 11s;
}

/* Movimiento hacia arriba */
@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity  : 0.6;
    }

    100% {
        transform: translateY(-120vh) scale(1.6);
        opacity  : 0;
    }
}

/* Efecto de parpadeo */
@keyframes blink {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }
}


.polygon1 {
    clip-path: polygon(5% 0, 100% 3%, 81% 100%, 0 88%);
}

.polygon2 {
    clip-path: polygon(14% 4%, 100% 1%, 100% 100%, 0 100%);
}

.polygon3 {
    clip-path: polygon(8% 0, 100% 4%, 92% 90%, 7% 100%);
}

.cardPolygon {
    perspective: 400px;
}

.cardPolygon:hover .polygon1 {
    transform: rotateY(15deg);
}

.cardPolygon:hover .polygon2 {
    transform: rotateY(15deg);
}

.cardPolygon:hover .polygon3 {
    transform: rotateY(-15deg);
}


